@using Worktrip.Models
@model UserInfoViewModel
@{
    ViewBag.Title = "Worktrip";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/css/select2.min.css")
    @Styles.Render("~/Content/css/select2-bootstrap.min.css")
    @Styles.Render("~/Content/csspin-boxes.css")
    @Styles.Render("~/Content/dropzonecss")
    @Styles.Render("~/Content/dashboard.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/select2.js")
    @Scripts.Render("~/bundles/dropzone")
    <script language="javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>>

    @Html.Partial("_GA")

    <script>
        //auto logout after 10 minutes

        var logoutTimer;
        function logout() {
            document.getElementById('logoutForm').submit();
        }

        function resetTimer() {
            clearTimeout(logoutTimer);
            logoutTimer = setTimeout(logout, 1000 * 60 * 10);
        }

        window.onload = resetTimer;
        document.onmousemove = resetTimer;
        document.onkeypress = resetTimer;
        document.onload = resetTimer;
        document.onmousemove = resetTimer;
        document.onmousedown = resetTimer;
        document.ontouchstart = resetTimer;
        document.onclick = resetTimer;
        document.onscroll = resetTimer;
        document.onkeypress = resetTimer;


        var prefetchedUserTaxInfo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var brainTreeInited = false;
        var client_token = "@ViewBag.BraintreeToken";
        var curTaxYear = parseInt("@DateTime.Now.AddYears(-1).ToString("yyyy")");
        var isAdmin = @(ViewBag.IsAdmin ? "true" : "false");
    </script>

    <script language="javascript" src="~/Scripts/dashboard.js"></script>

</head>
<body>
    <div id="loading-cover">
        <div class="cp-spinner cp-boxes"></div>
    </div>

    <div id="welcome-popup" class="dashboard-popup hidden">
        <div class="popup">
            <h2 class=ribbon style="font-family:sans-serif !important">
                <i><u>Taxes the Easy Way</u></i>
            </h2>
            <div style="padding:25px;padding-top:10px;font-weight:bold;display:flex;flex-direction:column;align-items:center;">
                <div>
                    One of our tax professionals will contact you shortly to schedule a quick tax call. Please get started by:
                </div>
                <br />
                <ol type="1">
                    <li>Fill out your personal info</li>
                    <li>Upload tax document images
                        <ul>
                            <li>W2</li>
                            <li>Health Savings Account 1099-SA</li>
                            <li>Student Loan Tax Forms</li>
                            <li>Etc</li>
                        </ul>
                    </li>
                </ol>
            </div>

            <div class="popup-close"><i class="fa fa-close"></i></div>
        </div>
    </div>

    @Html.Partial("Dashboard/_TopBar")
    <div class="container-fluid container-dashboard">
        @Html.Partial("Dashboard/_Sidebar")
        <div class="content-center">
            @Html.Partial("Dashboard/Form/_PersonalInfo")
            @Html.Partial("Dashboard/Form/_YesNoQuestions")
            @Html.Partial("Dashboard/Form/_TaxQuestions")

            <div class="lets-talk-container2 row formContainer" id="make-payment" style="display: none;">
                <div id="payment-div" style="text-align:center" class="col-xs-12">
                    <div class="row border-document">
                        <h2 class="lets-talk-header">Make a Payment</h2>
                        <br />
                        <div class="col-xs-12 col-xs-offset-0 col-md-5 col-md-offset-1">
                            <form id="payment-form" method="post" action="/checkouts">
                                <img id="credit-cards-img" src="~/Content/img/credit-cards.png" />
                                <section>
                                    <div class="bt-drop-in-wrapper">
                                        <div id="bt-dropin"></div>
                                    </div>
                                </section>
                                <button id="payment-btn-hidden" class="button hidden" type="submit"></button>
                            </form>
                        </div>
                        <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1">
                            @{
                                var recentYear = DateTime.Now.AddYears(-1).ToString("yyyy");
                                var code = (Model.FirstName == null ? "aa" : Model.FirstName.Substring(0, 2).ToUpper())
                                    + (Model.LastName == null ? "aa" : Model.LastName.Substring(0, 2).ToUpper())
                                    + (Model.DOB == null ? "00" : Model.DOB.Substring(Model.DOB.Length - 2, 2));
                                var fee = (Model.Statuses.ContainsKey(recentYear) ? (Model.Statuses[recentYear].Fee.HasValue ? Model.Statuses[recentYear].Fee.Value : 0) : 0);
                                var tax = Math.Round(fee * 0.07M, 2);
                            }
                            <div>
                                <ul id="checkout-ul">
                                    <li>
                                        <span>Subtotal</span>
                                        <span class="checkout-price">@fee.ToString("C2")</span>
                                    </li>
                                    <li style="border-bottom: 2px solid gray">
                                        <span>Tax</span>
                                        <span class="checkout-price">@tax.ToString("C2")</span>
                                    </li>
                                    <li>
                                        <span>Total</span>
                                        <span class="checkout-price payment-total">@(((fee + tax).ToString("C2")))</span>
                                    </li>
                                </ul>
                                <button id="payment-submit" class="btn btn-success">Pay @(((fee + tax).ToString("C2")))</button>
                            </div>
                        </div>
                    </div>
                    @*<div class="row border-document @(ViewBag.IsAdmin ? "" : "hidden")">
                    <h2 class="lets-talk-header">Sign Documents</h2>
                    <br />
                    <div class="col-xs-12">
                        <img src="~/Content/img/1040x.png" style="width: 250px;cursor:pointer;" id="pdfDemoBtn"/>
                    </div>
                </div>*@
                </div>
                <div id="payment-not-ready" style="text-align:center;" class="border-document col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div style="font-size:20px">
                        <i class="fa fa-id-card-o" style="text-align: center; font-size: 50px; color: #e74139;"></i>
                        <br /><br />
                        We still need to perform a final review before filing your taxes.
                        <br /><br />
                        You'll be notified via text when everything is ready to go!
                    </div>
                </div>
                <div id="payment-finished" style="text-align:center;" class="border-document col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div style="font-size:20px">
                        <i class="fa" style="text-align: center; font-size: 50px; color:#01af01 ">
                            &#xf00c; &#xf09d;
                        </i>
                        <br /><br />
                        Your payment of <span class="payment-total">@(((fee + tax).ToString("C2")))</span> has been posted.
                        <br /><br />
                        Your unique identification code is: <span class="payment-total">@((code))</span>.
                        <br />
                        New customers can now sign up on WorkTrip with this promo code and receive $10 off.  Three referrals earns you a free tax return for next year!
                        <br /><br />
                        A PDF copy of your tax return will be available to download in this portal once the electronic submission is accepted.
                    </div>
                </div>
            </div>



            <div class=" jumbotron file-upload-container" style="display: none;" id="work-schedule-container">

                <div class="row header">
                    <h4 class="text-center">Please Upload 2018_Schedule_Data.csv File from Your Crew Portal if you are a Delta FA</h4>
                    <h4 class="text-center">
                        You Worked as a Flight Attendant
                    </h4>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="csvdropzone-alerts"></div>
                        <form action="@Url.Action("UploadUserTaxFile", "Home")" method="post" enctype="multipart/form-data" class="dropzone dropzoneArea" id="csvDropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                        <h5 class="text-center">
                            (For security purposes, we will not show files you have uploaded in a previous session)
                        </h5>
                    </div>
                </div>
            </div> <!-- /container -->
            <div class="jumbotron file-upload-container" id="tax-documents-container" style="display: none;">
                <div class="row header">
                    <h4 class="text-center">Please Upload Pictures or PDFs of Your Tax Documents Here</h4>
                    <h5 class="text-center">
                        (W2’s, 1099-Misc, Healthcare, Bank Interest, Student Loans, Etc)
                    </h5>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="taxdropzone-alerts"></div>
                        <form action="@Url.Action("UploadUserTaxFile", "Home")" method="post" enctype="multipart/form-data" class="dropzone dropzoneArea" id="taxDropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                        <h5 class="text-center">
                            (For security purposes, we will not show files you have uploaded in a previous session)
                        </h5>
                    </div>
                </div>
            </div> <!-- /container -->
            <div class="lets-talk-container2 row formContainer" id="tax-return-container" style="z-index: 999; display: none;overflow-x:hidden;overflow-y:auto;">
                <div class="lets-talk-inner-wrapper">
                    <button type="button" class="close cancel-btn" data-dismiss="div.getStartedDiv">×</button>
                    <h2 class="lets-talk-header">Download Your Return</h2>
                    <p class="subtitle fancy"><span></span></p>
                    <form id="loginForm" action="/Account/GetUserTaxReturn" style="justify-content: center" class="" method="post" role="form" novalidate="novalidate">
                        <div class="input-group" style="visibility: hidden">
                            <input type="hidden" id="hiddenTaxYearLogin" name="taxYear" value="@DateTime.Now.AddYears(-1).ToString("yyyy")" />
                            <input type="hidden" id="hiddenUserId" name="userId" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="row text-center" style="padding: 0px 15px;">
                            <!-- <span style=" color: #999;line-height: 36px; padding-right: 10px;">(Step 2 of 2)</span> -->
                            <button type="submit" id="taxReturnFormSubmit" style="justify-content: center" class="btn btn-primary" onclick="getTaxYear()"> Download  </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="lets-talk-container2 row formContainer" id="no-tax-return-container" style="display: none;">
                <div id="payment-not-ready" style="text-align:center;" class="border-document col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div style="font-size:20px">
                        <i class="fa fa-id-card-o" style="text-align: center; font-size: 50px; color: #e74139;"></i>
                        <br /><br />
                        A PDF copy of your tax return will be available to download in this portal once the electronic submission is accepted.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="refer-div" class="lets-talk-container" style="z-index: 999; display: none;">

        <div class="lets-talk-inner-wrapper">
            <button type="button" class="close cancel-btn" data-dismiss="#refer-div">×</button>
            <h2 class="lets-talk-header">Refer a Friend</h2>
            <br/>

            <span class="input-title">Your friend's name</span><br>

            <div class="field input-group">
                <input type="text" class="form-control" name="ReferName" id="refer-name">
            </div>

            <span class="input-title">Your friend's phone number</span><br>
            <div class="field input-group">
                <input type="text" class="form-control" name="ReferPhone" id="refer-number">
            </div>
            <br>
            <a class="image-button-over" id="refer-submit" href="#">Refer</a>
        </div>

    </div>

    @{
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right hidden" }))
        {
            @Html.AntiForgeryToken()
        }
    }

    <script type="text/javascript">

        var elem = null;
        var elemId = null;

        $(document).ready(function () {

            // show login

            $('li.dashboard-button-container').on('click', function (e) {
                e.preventDefault();

                $("body").scrollTop(0);

                elem = $(this).find('a');

                elemId = elem.attr('id');

                if (elemId == "wSch") {
                    if (!$('div#ynQuestions').is(":visible")) {
                        console.log('in' + elemId);
                        $('div.box-dashboard-container').hide();
                        $('div#Personal-info').hide();
                        $('div#tax-documents-container').hide();
                        $('div#ynQuestions').fadeIn(500);
                        $('div#tax-question').hide();
                        $('div#make-payment').hide();
                        $('div#tax-return-container').hide();
                        $('div#no-tax-return-container').hide();
                        if (!$('div#options .menu-dashboard').is(":visible"))
                            $('div.left-menu-collapse').slideUp(500);
                        $('div.btn-container').css('background', '#999');
                        elem.closest('div.btn-container').css('background', '#E74139');

                    }
                }
                else if (elemId == "tQuest") {
                    if (!$('div#tax-question-container').is(":visible")) {
                        console.log('in' + elemId);
                        $('div.box-dashboard-container').hide();
                        $('div#Personal-info').hide();
                        $('div#tax-documents-container').hide();
                        $('div#ynQuestions').hide();
                        $('div#make-payment').hide();
                        $('div#tax-return-container').hide();
                        $('div#no-tax-return-container').hide();
                        $('div#tax-question').fadeIn(500);
                        if (!$('div#options .menu-dashboard').is(":visible"))
                            $('div.left-menu-collapse').slideUp(500);
                        $('div.btn-container').css('background', '#999');
                        elem.closest('div.btn-container').css('background', '#E74139');

                    }

                } else if (elemId == "mPay") {
                    if (!$('div#make-payment-container').is(":visible")) {
                        console.log('in' + elemId);
                        $('div.box-dashboard-container').hide();
                        $('div#Personal-info').hide();
                        $('div#tax-documents-container').hide();
                        $('div#ynQuestions').hide();
                        $('div#tax-return-container').hide();
                        $('div#no-tax-return-container').hide();
                        $('div#make-payment').fadeIn(500, function(){
                        });
                        $('div#tax-question').hide();
                        if (!$('div#options .menu-dashboard').is(":visible"))
                            $('div.left-menu-collapse').slideUp(500);
                        $('div.btn-container').css('background', '#999');
                        elem.closest('div.btn-container').css('background', '#E74139');

                        setupBrainTree();
                    }
                } else if (elemId == "tReturn") {
                    downloadTaxReturn();
                } else if (elemId == "tDoc") {
                    if (!$('div#tax-documents-container').is(":visible")) {
                        console.log('in' + elemId);
                        $('div.box-dashboard-container').hide();
                        $('div#Personal-info').hide();
                        $('div#tax-question').hide();
                        $('div#make-payment').hide();
                        $('div#tax-return-container').hide();
                        $('div#no-tax-return-container').hide();
                        $('div#tax-documents-container').fadeIn(500);
                        $('div#ynQuestions').hide();
                        $('div.btn-container').css('background', '#999');
                        elem.closest('div.btn-container').css('background', '#E74139');

                        if (!$('div#options .menu-dashboard').is(":visible"))
                            $('div.left-menu-collapse').slideUp(500);

                    }

                } else if (elemId == "pInfo") {
                    if (!$('div#Personal-info').is(":visible")) {
                        console.log('in' + elemId);
                        $('div.box-dashboard-container').hide();
                        $('div#tax-return-container').hide();
                        $('div#no-tax-return-container').hide();
                        $('div#Personal-info').fadeIn(500);
                        $('div#tax-documents-container').hide();
                        $('div#ynQuestions').hide();
                        $('div#tax-question').hide();
                        $('div#make-payment').hide();
                        $('div.btn-container').css('background', '#999');
                        elem.closest('div.btn-container').css('background', '#E74139');

                        if (!$('div#options .menu-dashboard').is(":visible"))
                            $('div.left-menu-collapse').slideUp(500);

                    }


                }
                else if (elemId == "dashboard") {
                    if (!$('div.box-dashboard-container').is(":visible")) {
                        console.log('in' + elemId);
                        $('div.box-dashboard-container').fadeIn(500);
                        $('div#Personal-info').hide();
                        $('div#tax-documents-container').hide();
                        $('div#tax-question').hide();
                        $('div#make-payment').hide();
                        $('div#tax-return-container').hide();
                        $('div#no-tax-return-container').hide();
                        $('div#ynQuestions').hide();
                        $('div.btn-container').css('background', '#999');
                        if (!$('div#options .menu-dashboard').is(":visible"))
                            $('div.left-menu-collapse').slideUp(500);

                        elem.closest('div.btn-container').css('background', '#E74139');

                    }


                }

            });



            $('#tQuest').on('click', function (e) {
                e.preventDefault();
                if (!$('div#tax-question-container').is(":visible")) {
                    $('div.box-dashboard-container').hide();
                    $('div#Personal-info').hide();
                    $('div#tax-documents-container').hide();
                    $('div#ynQuestions').hide();
                    $('div#make-payment').hide();
                    $('div#tax-return-container').hide();
                    $('div#no-tax-return-container').hide();
                    $('div#tax-question').fadeIn(500);
                    if (!$('div#options .menu-dashboard').is(":visible"))
                        $('div.left-menu-collapse').slideUp(500);
                    $('div.btn-container').css('background', '#999');
                    $(this).closest('div.btn-container').css('background', '#E74139');
                }

            });


            $('#mPay').on('click', function (e) {
                e.preventDefault();
                if (!$('div#make-payment-container').is(":visible")) {
                    $('div.box-dashboard-container').hide();
                    $('div#Personal-info').hide();
                    $('div#tax-documents-container').hide();
                    $('div#ynQuestions').hide();
                    $('div#tax-return-container').hide();
                    $('div#no-tax-return-container').hide();
                    $('div#make-payment').fadeIn(500);
                    $('div#tax-question').hide();
                    if (!$('div#options .menu-dashboard').is(":visible"))
                        $('div.left-menu-collapse').slideUp(500);
                    $('div.btn-container').css('background', '#999');
                    $(this).closest('div.btn-container').css('background', '#E74139');
                }
            });


            $('#tReturn').on('click', function (e) {
                e.preventDefault();
                downloadTaxReturn();
            });

            $('#tDoc').on('click', function (e) {
                e.preventDefault();
                if (!$('div#tax-documents-container').is(":visible")) {
                    $('div.box-dashboard-container').hide();
                    $('div#Personal-info').hide();
                    $('div#tax-question').hide();
                    $('div#make-payment').hide();
                    $('div#tax-return-container').hide();
                    $('div#no-tax-return-container').hide();
                    $('div#tax-documents-container').fadeIn(500);
                    $('div#ynQuestions').hide();
                    $('div.btn-container').css('background', '#999');
                    $(this).closest('div.btn-container').css('background', '#E74139');

                    if (!$('div#options .menu-dashboard').is(":visible"))
                        $('div.left-menu-collapse').slideUp(500);

                }
            });

            $('#pInfo').on('click', function (e) {
                e.preventDefault();
                if (!$('div#Personal-info').is(":visible")) {
                    $('div.box-dashboard-container').hide();
                    $('div#tax-return-container').hide();
                    $('div#no-tax-return-container').hide();
                    $('div#Personal-info').fadeIn(500);
                    $('div#tax-documents-container').hide();
                    $('div#ynQuestions').hide();
                    $('div#tax-question').hide();
                    $('div#make-payment').hide();
                    $('div.btn-container').css('background', '#999');
                    $(this).closest('div.btn-container').css('background', '#E74139');

                    if (!$('div#options .menu-dashboard').is(":visible"))
                        $('div.left-menu-collapse').slideUp(500);
                }
            });

            $('#dashboard').on('click', function (e) {
                e.preventDefault();
                if (!$('div.box-dashboard-container').is(":visible")) {
                    $('div.box-dashboard-container').fadeIn(500);
                    $('div#Personal-info').hide();
                    $('div#tax-return-container').hide();
                    $('div#no-tax-return-container').hide();
                    $('div#tax-documents-container').hide();
                    $('div#tax-question').hide();
                    $('div#make-payment').hide();
                    $('div#ynQuestions').hide();
                    $('div.btn-container').css('background', '#999');

                    if (!$('div#options .menu-dashboard').is(":visible"))
                        $('div.left-menu-collapse').slideUp(500);

                    $(this).closest('div.btn-container').css('background', '#E74139');
                }
            });

            $(".menu-dashboard").click(function(){
                $('div.left-menu-collapse').slideDown(500);
            });

            $('div#options .menu').on('click', function (e) {
                e.preventDefault();
                if (!$('div.left-menu-collapse').is(":visible")) {
                    $('div.left-menu-collapse').slideDown(500).show();
                }
                else {
                    $('div.left-menu-collapse').slideUp(500);
                }
            });


            $('#refer-btn').on('click', function (e) {

                $('#refer-div').fadeIn(500);
                $('#refer-div').append($('#btnClose'));

                //$('.navbar-collapse').slideUp(500);
            });

            // $('#btnClose').on('click',function(e){
            //   e.preventDefault();
            //   $('div.getStartedDiv').hide();
            //   $('#btnClose').hide();


            // });


            $('#question-tabs a').on('click', function (e) {
                e.preventDefault();

                $(this).tab('show')
            })

            $('button.cancel-btn').on('click', function () {
                $(this).closest('div.lets-talk-container').hide();
            });

            //        $('#toggle-tax').on('click',function(e){
            //			e.preventDefault();
            //			if(!$('div.taxes-dropdown').is(":visible")){
            //            console.log('yes');
            //                $('div.taxes-dropdown').show();
            //            }
            //            else{
            //                console.log('no');
            //                $('div.taxes-dropdown').hide();
            //            }
            //
            //
            //
            //		});


            $(function () {
                var navMain = $(".navbar-collapse");
                navMain.on("click", "a", null, function () {
                    //navMain.collapse('hide');
                });
            });

            $(function () {
                var navMain = $(".left-menu");
                navMain.on("click", "a", null, function () {

                    //navMain.collapse('hide');

                });
            });
        });

        var fileTypes = ['csv', 'jpg', 'txt'];  //acceptable file types

        function readURL(input) {
            console.log(input);
            if (input[0] != null) {
                var extension = input[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                    isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

                if (isSuccess) { //yes
                    return true;

                }
                else { //no
                    return false;
                }
            }
        }

    </script>

    <div class="modal fade" id="IRS-demo-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align:center;font-size:26px;" id="IRS-demo-modal-title"></h4>
                </div>
                <div class="modal-body" id="IRS-demo-modal-body">
                    <div id="IRS-demo-modal-info">
                        <ul id="IRS-demo-modal-list" class="effeckt-list" data-effeckt-type="expand-in">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
