
@{
    ViewBag.Title = "WorkTrip";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/css/bootstrap-4.4.1/bootstrap.min.css")
    @Styles.Render("~/Content/css/index.css")
    @Styles.Render("~/Scripts/toastr/toastr.min.css")

    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/jquery.inputmask.min.js")
    @Scripts.Render("~/Scripts/jquery-validation-1.19.1/dist/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/bootstrap-4.4.1/bootstrap.min.js")
    @Scripts.Render("~/Scripts/toastr/toastr.min.js")
    @* TODO: Change to local source *@
    <script src="https://kit.fontawesome.com/d5a1b1245f.js" crossorigin="anonymous"></script>
</head>
<body>
    @Html.Partial("HomePage/_TopBar")
    @Html.Partial("HomePage/_Hero")
    @Html.Partial("HomePage/_BusinessInformation")
    @Html.Partial("HomePage/_Advantages")
    @Html.Partial("HomePage/_HowItWorks")
    @Html.Partial("HomePage/_Pricing")
    @Html.Partial("HomePage/_Footer")

    @* Modals *@
    @Html.Partial("HomePage/Auth/_Login")
    @Html.Partial("HomePage/Auth/_Register")
    @Html.Partial("HomePage/Auth/_TextResetPasswordCode")
    @Html.Partial("HomePage/Auth/_SetNewPassword")


    @Scripts.Render("~/Scripts/index.js")

    <script>
        var shouldShowPasswordReset = "@ViewBag.action" === 'resetpw';
    </script>
</body>
</html>
